# Bezpečnostní klíč pro Flask sessions
SECRET_KEY=vygenerujte-pomoci-python-c-import-secrets-print(secrets.token_hex(32))

# Email konfigurace
MAIL_SERVER=smtp.example.com
MAIL_PORT=25
MAIL_USE_TLS=false
MAIL_SMTP_AUTH=false
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SENDER_ADDRESS=noreply@example.com
MAIL_SENDER_NAME=Správa certifikátů
MAIL_SUBJECT_PREFIX=[CERT]
MAIL_RECIPIENTS=admin@example.com

# Reporty
REPORT_ENVS=live,test
REPORT_DAY=1
REPORT_HOUR=9
REPORT_MINUTE=0
